$primary-color:#112055;
$primary-font-color:#fff;
$primary-color-darker:darken($primary-color, 20%);
$primary-color-lighter:lighten($primary-color, 20%);
$secondary-font-color:#000;
$secondary-color:#4f9d92;
.box__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  font-family: sans-serif;
    .box-primary {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 4px 3px 19px 0px      rgba(0,0,0,0.3);
    background-color:$primary-color;
    color: #fff;
      &-lighter {
        @extend .box-primary;
        background-color:$primary-color-lighter;
      }
      &-darker {
        @extend .box-primary;
        background-color:$primary-color-darker;
      }
    }
}
.box-secondary {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 4px 3px 19px 0px      rgba(0,0,0,0.3);
  background-color:$secondary-color;
  color:$secondary-font-color;}